@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "spirit";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #0a223a;
  --color-base-200: #061624;
  --color-base-300: #040d14;
  --color-base-content: #e0f2fe;
  --color-primary: #00f0ff;
  --color-primary-content: #0a223a;
  --color-secondary: #ff3ec8;
  --color-secondary-content: #0a223a;
  --color-accent: #fff700;
  --color-accent-content: #0a223a;
  --color-neutral: #061624;
  --color-neutral-content: #e0f2fe;
  --color-info: #00f0ff;
  --color-info-content: #0a223a;
  --color-success: #10b981;
  --color-success-content: #ffffff;
  --color-warning: #fff700;
  --color-warning-content: #0a223a;
  --color-error: #ff3ec8;
  --color-error-content: #0a223a;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
